.image-container {
  margin-top: 95px;
}

.items {
  display: grid;
  grid-template-columns: repeat(auto-fill, 280px);
  grid-gap: 20px;
  justify-content: space-between;
}

.item {
  width: 30%;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ddd;
}

.item img {
  max-width: 100%;
}
